/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-nov-2016, 19.12.27
    Author     : Alex
*/

form#search-form{
  position: relative;
}
 
form#search-form ul{
	  position: absolute;
	  top: 0;
	  left: 0; 
	  width: 100%;
	  max-height: 200px;
	  overflow: auto;	  
	  z-index: 1;	  
	  border:1px solid #DDDDDD;
	  border-radius: 6px;	  
  }
 
span.ui-helper-hidden-accessible{
  display: none !important;
}
 
.ui-state-focus {
	 color: #ffffff;
	 background-color: #428bca;
}

.ui-autocomplete>li{
    cursor: pointer;
    padding:5px;
}

.ui-autocomplete>li:hover{
    background:#DDDDDD;
}

.ingrediente{
    margin-left:6%;
}

.ingrediente > div{
    float:left;
}

.ingrediente .form-group > div{
    display:block;
    float:none;
}

.ingrediente .um label{
    width: 100%;
    text-align: left;
} 

.ingrediente .nome-ingrediente{
    width:47%;
}

.ingrediente:first-child .rimuovi-ingrediente{
    display:none;
}

.image-preview{
    width:100px;
    height: 65px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.table>tbody>tr>td{
    vertical-align: middle !important;
}

.container-giorni, .container-tipologie {
    float:left;
}

.container-tipologie {
    width:10%;
    
}

.container-tipologie > .tipo-pasto{
    
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 150px;
    width: 100%;
    text-align: center;           
}

.container-tipologie > .empty-box{
    border-bottom:1px solid #999;
}

.empty-box {
    width:100%;
    height:101px;
}

.container-tipologie > .tipo-pasto h5{ 
    margin:0;
    padding:0;
    line-height: 150px; 
    font-weight: bold;
}

.container-giorni{
    width:90%;
}

.container-giorni > .giorno{
    float:left;
    width:14.28%;
    border-top:1px solid #999;
    
    border-left: 1px solid #999;
    text-align: center;
}

.container-giorni > .giorno h5{
    margin:0;
    padding:0;
    height:100px;
    padding-top:40px;
    border-bottom: 1px solid #999;
    font-weight: bold;
}

.container-giorni > .giorno:last-child{
    border-right: 1px solid #999;
}

.container-giorni .tipo-pasto{
    height: 150px;
    border-bottom: 1px solid #999;  
    display:table;
    width: 100%;
}

.container-giorni .tipo-pasto > .container-ricette{
    display: table-cell;
    vertical-align: middle;
    width:100%;    
    padding:5px;
}

.container-giorni .tipo-pasto > .container-ricette p{
    text-align: left;
}


.wp-admin select[multiple]{
    width:50% !important;
    height: 150px !important;
}
