/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-nov-2016, 19.12.20
    Author     : Alex
*/

.agenda-container {
    width:100%;
}

.agenda-container .suggerimenti{
    position: absolute;
    z-index: 9999;
    background:#fff;
    border:1px solid #999;
   
}

.agenda-container .suggerimenti ul{
    list-style: none;
    margin: 0;
    width: 100% !important;
    left:0 !important;
}

.agenda-container .suggerimenti ul > li{
    margin:0;
    padding:4px;
}

.agenda-container .suggerimenti ul > li:hover{
    background:#ccc;    
}

.ui-helper-hidden-accessible{
    display: none !important;
}


.container-ricette .ricetta .foto{
    height: 150px;
    width:100%;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border: 1px solid #999;
}


.container-ricette .ricetta{
    text-align: center;
}

.clear {
    clear:both;
    float:none;
    width:100%;
    height: 1px;
}

.container-ricetta-pubblica .clear{
    height: 15px;
}

.giorno-agenda{
    padding-bottom:15px;
}

.giorno-agenda.dispari{
    background:#ECECFB;
}

.giorno-agenda.pari{
    border: 1px solid #ECECFB;
}

.ui-state-focus {
    color: #ffffff;
    background-color: #428bca;
}

.ui-autocomplete{
    position: absolute;
    border:1px solid #DDD;
    background: #fff;
    z-index: 9999;
}

.ui-autocomplete>li{
    cursor: pointer;
    padding:5px;
    list-style: none;
}

.ui-autocomplete>li:hover{
    background:#DDDDDD;
}

.add-recipe{
    display:block;
    width:auto;
    height: 20px;
    background: url('../images/add-recipe.png') left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    cursor: pointer;
}

#selezionatore-ricette{
    width:50%;
    border:1px solid #ddd;
    padding:10px;
}

#selezionatore-ricette .lista p{
    float:left;
    margin:0;padding:0;
}

.container-ricerca, .container-risultati{
    border:1px solid #ddd;
    padding:10px;
}

.remove-recipe{
    display:block;
    float:right;
    width:20px;
    height: 20px;
    background: url('../images/remove-recipe.png') left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.table.table-striped th, .table.table-striped td{
    text-align: left;
}


.pasto .lista-ricette .nome-ricetta:first-child .remove-from-pasto{
    display: none;
}

@media (min-width: 768px) {

    .agenda-container .giorno-agenda{
        float:left;
        
    }

}