/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-nov-2016, 19.12.20
    Author     : Alex
*/

.agenda-container {
    width:100%;
}

.agenda-container .suggerimenti{
    position: absolute;
    z-index: 9999;
    background:#fff;
    border:1px solid #999;
   
}

.agenda-container .suggerimenti ul{
    list-style: none;
    margin: 0;
    width: 100% !important;
    left:0 !important;
}

.agenda-container .suggerimenti ul > li{
    margin:0;
    padding:4px;
}

.agenda-container .suggerimenti ul > li:hover{
    background:#ccc;    
}

.ui-helper-hidden-accessible{
    display: none !important;
}


.container-ricette .ricetta .foto{
    height: 150px;
    width:100%;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border: 1px solid #999;
}


.container-ricette .ricetta{
    text-align: center;
}

.clear {
    clear:both;
    float:none;
    width:100%;
    height: 1px;
}

.container-ricetta-pubblica .clear{
    height: 15px;
}

.giorno-agenda{
    padding-bottom:15px;
}

.giorno-agenda.dispari{
     background:rgba(255,151,16, 0.2);
}

.giorno-agenda.pari{
    border: 1px solid #ECECFB;
    background:rgba(221,221,221, 0.2);
}

.ui-state-focus {
    color: #ffffff;
    background-color: #428bca;
}

.ui-autocomplete{
    position: absolute;
    border:1px solid #DDD;
    background: #fff;
    z-index: 9999;
}

.ui-autocomplete>li{
    cursor: pointer;
    padding:5px;
    list-style: none;
}

.ui-autocomplete>li:hover{
    background:#DDDDDD;
}

.add-recipe{
    display:block;
    width:auto;
    height: 20px;
    background: url('../images/add-recipe.png') left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    cursor: pointer;
}

#selezionatore-ricette{   
    border:1px solid #ddd;
    padding:10px;
    position: fixed;
    right:0;    
    top:0;
    margin-top:15%;
    margin-right:25px;
    background: #eee;
    display: none;
    z-index:99999;
    width:75%;
    min-width:300px;
}

#selezionatore-ricette .oc-button{
    position:absolute;
    width:40px;
    height: 40px;
    border:1px solid #ddd;
    border-right: 1px solid #eee;
    margin-left:-50px;
    margin-top:-11px;
    cursor: pointer;
    background-size: contain !important;    
    background-position: center center !important;
    background-repeat: no-repeat !important;    
}

#selezionatore-ricette h3{
    margin-top:0px;
}

#selezionatore-ricette .oc-button.open{
    background: #eee url('../images/right-arrow.png');
}

#selezionatore-ricette .oc-button.close{
    background: #eee url('../images/left-arrow.png');
}

#selezionatore-ricette .lista{
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}

#selezionatore-ricette .lista p{
    float:left;
    margin:0;padding:0;
    width: 90%;
}

#selezionatore-ricette .azioni p{
    font-weight: bold;
}

.container-ricerca{
    border:1px solid #ddd;
    padding:10px;
}

.container-risultati{
    padding:10px;
}

.remove-recipe{
    display:block;
    float:right;
    width:20px;
    height: 20px;
    background: url('../images/remove-recipe.png') left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.table.table-striped th, .table.table-striped td{
    text-align: left;
}


.pasto .lista-ricette .nome-ricetta:first-child .remove-from-pasto{
    display: none;
}


.container-agenda-public, .container-agenda-public .giorno{
    width:100%;
    display: block;
    float:none;
    clear:both;
}
.container-agenda-public .container-tp{
    width:100%;
    margin-left: 1px;
}

.container-agenda-public .container-tp .tp {
    font-weight: bold;
    font-size:20px;
    border: none;
    border-right: 1px solid #999;
    border-top:1px solid #999;
    border-bottom:1px solid #999;    
    background:rgba(255,151,16, 0.4);
    color:#000;
}

.container-agenda-public .container-tp .tp:first-child{
    border:none;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: transparent;
}

.container-agenda-public .tp{
    float:left;
    min-height: 50px;
    width: 200px;
    border:1px solid #999;
    text-align: center;    
    padding:5px;
}

.container-agenda-public .tp .ricetta img{
    margin-top:10px;
    width:80%;
    border:1px solid #ddd;
}

.container-agenda-public .giorno {
    
}

.container-ingredienti .pari{
    background:rgba(221,221,221, 0.2);
}

.container-ingredienti .dispari{
    background:rgba(255,151,16, 0.2);
}

.container-ingredienti .pari:hover{
    background:rgba(221,221,221, 0.5);
}

.container-ingredienti .dispari:hover{
    background:rgba(255,151,16, 0.4);
}

.container-agenda-public .giorno.pari .tp {
    background:rgba(221,221,221, 0.2);
}

.container-agenda-public .giorno.pari:hover > .tp {
    background:rgba(221,221,221, 0.5);
}

.container-agenda-public .giorno.dispari .tp {
    background:rgba(255,151,16, 0.2);
}

.container-agenda-public .giorno.dispari:hover > .tp {
    background:rgba(255,151,16, 0.4);
}

.container-agenda-public .nome-giorno{
    display:table;
    color:#000;
}

.container-agenda-public .nome-giorno p{
    display: table-cell;
    vertical-align: middle;
    font-size:16px;
    font-weight: bold;
}

.container-agenda-public .tp{
    display: table;
}

.container-agenda-public .tp .container-elemento{
    display: table-cell;
    vertical-align: middle;
    padding-top:10px;
    padding-bottom:10px;
}


.container-agenda-public .giorno .tp{
    border:0;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;    
}

.container-agenda-public .giorno .tp:last-child{
    border-right: 1px solid #999;
}

.container-ingredienti .ingrediente{
    border-bottom:1px solid #999;
    padding:5px;
}


.ingrediente:first-child .rimuovi-ingrediente{
    display:none;
}

.pianificatore-ricette{
    display: none;
}

.loader-container{
    width:100%;
    height: 100vh;
    background: rgba(255,255,255, 0.7);
    position: fixed;
    z-index:999999999999999999;
    top:0;
    left:0;
    display: none;
}

.loader{
    background:url('../images/loader.gif') center center no-repeat;
    background-size: contain !important;
    
    width:128px;
    height: 128px;
    position:fixed;
    top:50%;
    margin-top:-64px;
    left:50%;
    margin-left: -64px;
    z-index: 9999999999999999999;
}

.container-link-dettaglio{
    width:50%;
    height: 300px;
    left:50%;
    margin-left: -25%;
    top:50%;    
    margin-top:-150px;
    border:1px solid #ddd;
    background:#fff;
    position: fixed;
    box-shadow: 7px 7px 15px #888888;
    z-index: 9999999;
}

.container-link-dettaglio h2{
    text-align: center;
    font-size:36px !important;
    font-weight: bold !important;
    padding:15px;
}

.container-link-dettaglio p{
    text-align: center;
    font-size:20px;
}

.container-link-dettaglio a{
    font-size:20px;
    text-align: center;
    display: block;
    height: 50px;
    line-height: 50px;
    border:1px solid #ddd;
    width:50%;
    margin:auto;
    margin-top:40px;
}

.container-link-dettaglio a:hover{
    border: 1px solid rgb(160, 206, 78);
}

.container-agenda-public-mobile > div{
    border: 1px solid #999;
    border-top:none;
    padding-top:15px;
    padding-bottom: 15px;
    color:#000
}

.container-agenda-public-mobile > div:first-child{
    border-top:1px solid #999;
}

.container-agenda-public-mobile .descrizione-pasto a{
    margin-top:10px;
    font-size:16px;
}

.container-agenda-public-mobile .descrizione-pasto p{
    margin:0;
    margin-top:10px;
    font-size:16px;
}

.container-agenda-public-mobile .giorno{
    text-align: center;
    font-size:22px;
    font-weight: bold;  
    background:rgba(255,151,16, 0.4);
}

.container-agenda-public-mobile .pasto{
    font-size:18px;
    font-weight: bold;  
    background:rgba(255,151,16, 0.2);
}

.container-agenda-public-mobile .descrizione-pasto {
    text-align: center;    
}

.container-agenda-public-mobile .descrizione-pasto .ricetta {
    margin-top:10px;
}

.container-agenda-public-mobile .descrizione-pasto .ricetta img{
    width:50%;
    border: 1px solid #ddd;
}

#wrapper .post-content h2.title{
    font-size:34px;
}

.post-content h3.title {
    font-size:30px;
}

#printbutton{
    float:right;
    height: 50px;
    width: 150px;
    font-size:18px;
}

.descrizione-agenda p{
    font-size:16px;
    padding-left:30px;
}

.container {
    width: 100% !important;
}


.giorno-agenda span.title-giorno{
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    font-size:24px;
    font-weight: bold;
    width:100%;
    text-align: center;
}

.giorno-agenda span.title-pasto{
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 18px;
    font-weight: bold;
}

.giorno-agenda .lista-ricette .nome-ricetta select{
    width:80%;
    height: 40px;
    float:left;
    font-size:14px;
    margin-bottom:5px;
}

.giorno-agenda .lista-ricette .nome-ricetta a.remove-from-pasto,
.rimuovi-ingrediente a{
    display:block;
    width:15%;
    float:left;
    height: 40px;
    background: url('../images/remove-recipe.png') center center;
    background-size: 20px 20px;
    background-repeat: no-repeat;    
    cursor: pointer;
    margin-left:2px;
}

.rimuovi-ingrediente a{
    width:40px;
    margin-top:20px;
}

.giorno-agenda .aggiungi-ricetta{
    clear:both;
}

.giorno-agenda .aggiungi-ricetta a, 
.add-ingrediente a{
    display: block;
    height: 35px; 
    padding-left: 20px;
    background: url('../images/add-recipe.png') left center;
    background-size: 15px 15px;
    background-repeat: no-repeat;    
    cursor: pointer;
    font-size:14px;
    line-height: 35px;
    width:100px;
}

.add-ingrediente a{
    width:200px;
    cursor: pointer;
    float:right;
}

.ricetta .descrizione{
    margin:0;
    margin-top:10px;
}

.descrizione span.titolo{
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.ricerca-ricette{
    font-size:14px;
}

.ricerca-ricette h3.titolo, #ricerca-template h3.titolo, .container-risultati h3.titolo{
    font-size:24px;
}

#ricerca-template select{
    width:80%;
    font-size:14px;
}

.ricerca-ricette select{
    width:100%;
    min-height: 150px;
    padding:10px;
}

.ricerca-ricette input[name=cancella-ingredienti]{
    float:right;
    margin-top:10px;
    margin-right: 15px;
}

.ricerca-ricette input[name=cancella-ingredienti]{
    background: transparent url('../images/ico-trash.png');
    height: 40px;
    width:200px;
    background-size: 20px 20px;
    background-repeat: no-repeat;  
    background-position-y: center;
    background-position-x: 5px;
    cursor: pointer;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:25px;
    padding-right: 5px;
    border: 1px solid #ddd;
    
    color:#999;
}

.ricerca-ricette input[name=cancella-ingredienti]:hover{
    border: 1px solid rgb(255,151,16);   
}

.ricerca-ricette .ricerca-ricette, #ricerca-template .carica-template{
    width:200px;
    height:50px;
    background: transparent url('../images/ico-search.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;  
    background-position-y: center;
    background-position-x: 5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:40px;
    padding-right: 5px;
    font-size:16px; 
    text-transform: uppercase;
    border:2px solid rgb(255,151,16);
    font-weight: bold;
    margin:auto;
    display: block;
    margin-top:40px;
    color:rgb(255,151,16);
}

.ricerca-ricette .ricerca-ricette:hover, #ricerca-template .carica-template:hover{
    border: 2px solid rgb(255,151,16);
    color: rgb(255,151,16);
}

.container-risultati thead tr th {
    font-size: 18px; 
    font-weight: bold;
}

.container-risultati tbody tr td{
    font-size:14px;
    vertical-align:middle !important;
}

.container-risultati tbody tr td .image-ricetta{
    width:100px;
    float:left;
    border:1px solid #ddd;
}

.container-risultati-mobile .ricetta {
    border:1px solid rgb(255,151,16);
    padding:15px;
    margin-bottom:10px;
}

.container-risultati-mobile .ricetta:hover{
    border:1px solid rgb(68,145,38);
}

.container-risultati-mobile .image-ricetta{
    border:1px solid #ddd;
}

.container-risultati-mobile .title-ricetta{
    display: block;
    width:100%;
    text-align: center;
    font-size:20px;
    margin-top:10px;
}

.container-risultati-mobile p.info {
    margin:0;
    width:100%;
    text-align:center;
    font-size:16px;
    margin-top:10px;
}

.container-risultati-mobile .add-recipe{
    float:right;
    margin-bottom:15px;
}

.tabella-risultati {
    position: relative;
    display: none;
    
}

.tabella-risultati[data-tabella="0"]{
    display: table;
}

.tabella-risultati tr.pag-info{
    background:transparent !important;
}

.container-gruppo-ricette-mobile{
    position:relative;
    display: none;
}

.container-gruppo-ricette-mobile[data-gruppo="0"]{
    display: block;
}

.arrows, .arrows-mobile {
    display: block;
    width:100px;
    height: 50px;
    margin:auto;
}

.arrows-mobile {
    width:50px;
    cursor:pointer;
    background:url('../images/add-mobile.png') center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.arrows > div{
    float:left;
    height: 50px;
    width:50px;
    cursor:pointer;
}

.arrows .avanti{
    background:url('../images/right-arrow.png') center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrows .indietro{
    background:url('../images/left-arrow.png') center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#wrapper .post-content .insert-ricetta-public h2.titolo{
    font-size:30px;
    font-weight: bold;
}

.insert-ricetta-public {
    font-size:14px;
}

.insert-ricetta-public select{
    min-width:250px;
    min-height: 150px;
}

.post-content .insert-ricetta-public h4 {
    font-size:24px;
}


.lista-ingredienti .ingrediente > div{
    float:left;
}

.insert-ricetta-public textarea{
    min-height: 300px;
}


.modifica-ricetta, .modifica-annulla{
    float:right;
}

.edit-ricetta, .modifica-annulla{
    display: none;
}


.container-mie-agende{
    margin-bottom:100px;
}


.modifica-ricetta{
    height:40px;
    width:200px;
    border:none;
    background: url('../images/ico-edit.png') left center;
    background-size: 40px auto;
    background-repeat: no-repeat;   
    font-size:16px;    
}

.modifica-annulla{
    height:40px;
    width:200px;
    border:none;
    background: url('../images/ico-annulla.png') left center;
    background-size: 40px auto;
    background-repeat: no-repeat;   
    font-size:16px;    
}


.form-group select:not([multiple]),
.giorno-agenda .lista-ricette .nome-ricetta select{
    -webkit-appearance: none;
    -moz-appearance: none;
    border:1px solid #ddd;
    background:#fff url('../images/down-arrow.png') right center;
    background-size:30px auto;
    background-repeat: no-repeat;
    padding:5px;
    min-width:75px;
    padding-right:35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aggiungi-ricetta-pubblica{
    width:130px;
    margin:auto;
    margin-top:10px;
}

.btn-success, .btn-success:hover{
    background-color: rgb(255,151,16) !important;
    border-color: rgb(255,151,16) !important;
}

@media (max-width: 767px) {
    
}

@media (min-width: 768px) {

    .agenda-container .giorno-agenda{
        float:left;
        
    }    
    #selezionatore-ricette{
        
        width:25%;
        min-width:400px;
    }
    
    .lista-ingredienti .ingrediente > div label,
    .lista-ingredienti .ingrediente > div label+div {
        display: block;
        clear:both;    
        width: 100%;
        text-align: left;
    }
    
    .lista-ingredienti .ingrediente .qt {
        width:8%;
        margin-right:20px;
        margin-left: 50px;
    }
    
   .lista-ingredienti .ingrediente .qt input{
        height: 29px;
    }
    
    .lista-ingredienti .ingrediente .um{
        width:18%;
        margin-right:20px;       
    }
    
    .lista-ingredienti .ingrediente .nome-ingrediente{
        width:35%;
    }
    
    
}