/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-nov-2016, 19.12.20
    Author     : Alex
*/

.agenda-container {
    width:100%;
}

.agenda-container .suggerimenti{
    position: absolute;
    z-index: 9999;
    background:#fff;
    border:1px solid #999;
   
}

.agenda-container .suggerimenti ul{
    list-style: none;
    margin: 0;
    width: 100% !important;
    left:0 !important;
}

.agenda-container .suggerimenti ul > li{
    margin:0;
    padding:4px;
}

.agenda-container .suggerimenti ul > li:hover{
    background:#ccc;    
}

.ui-helper-hidden-accessible{
    display: none !important;
}


.container-ricette .ricetta .foto{
    height: 150px;
    width:100%;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border: 1px solid #999;
}


.container-ricette .ricetta{
    text-align: center;
}

.clear {
    clear:both;
    float:none;
    width:100%;
    height: 1px;
}

.container-ricetta-pubblica .clear{
    height: 15px;
}

.giorno-agenda{
    padding-bottom:15px;
}

.giorno-agenda.dispari{
    background:#ECECFB;
}

.giorno-agenda.pari{
    border: 1px solid #ECECFB;
}

.ui-state-focus {
    color: #ffffff;
    background-color: #428bca;
}

.ui-autocomplete{
    position: absolute;
    border:1px solid #DDD;
    background: #fff;
    z-index: 9999;
}

.ui-autocomplete>li{
    cursor: pointer;
    padding:5px;
    list-style: none;
}

.ui-autocomplete>li:hover{
    background:#DDDDDD;
}

.add-recipe{
    display:block;
    width:auto;
    height: 20px;
    background: url('../images/add-recipe.png') left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    cursor: pointer;
}

#selezionatore-ricette{   
    border:1px solid #ddd;
    padding:10px;
    position: fixed;
    right:0;
    margin-right:5%;
    top:0;
    margin-top:15%;
    background: #fff;
    display: none;
    z-index:99999;
}

#selezionatore-ricette .oc-button{
    position:absolute;
    width:40px;
    height: 40px;
    border:1px solid #ddd;
    border-right: 1px solid #fff;
    margin-left:-50px;
    margin-top:-11px;
    cursor: pointer;
    background-size: contain !important;    
    background-position: center center !important;
    background-repeat: no-repeat !important;    
}

#selezionatore-ricette h3{
    margin-top:0px;
}

#selezionatore-ricette .oc-button.open{
    background: #fff url('../images/right-arrow.png');
}

#selezionatore-ricette .oc-button.close{
    background: #fff url('../images/left-arrow.png');
}

#selezionatore-ricette .lista p{
    float:left;
    margin:0;padding:0;
}

.container-ricerca{
    border:1px solid #ddd;
    padding:10px;
}

.container-risultati{
    padding:10px;
}

.remove-recipe{
    display:block;
    float:right;
    width:20px;
    height: 20px;
    background: url('../images/remove-recipe.png') left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;    
    cursor: pointer;
}

.table.table-striped th, .table.table-striped td{
    text-align: left;
}


.pasto .lista-ricette .nome-ricetta:first-child .remove-from-pasto{
    display: none;
}


.container-agenda-public, .container-agenda-public .giorno{
    width:100%;
    display: block;
    float:none;
    clear:both;
}
.container-agenda-public .container-tp{
    width:100%;
    margin-left: 1px;
}

.container-agenda-public .container-tp .tp {
    font-weight: bold;
    font-size:20px;
    border: none;
    border-right: 1px solid #999;
    border-top:1px solid #999;
    border-bottom:1px solid #999;    
    background:rgba(106,206,68, 0.4);
    color:#000;
}

.container-agenda-public .container-tp .tp:first-child{
    border:none;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: transparent;
}

.container-agenda-public .tp{
    float:left;
    min-height: 50px;
    width: 200px;
    border:1px solid #999;
    text-align: center;    
    padding:5px;
}

.container-agenda-public .tp .ricetta img{
    margin-top:10px;
    width:80%;
    border:1px solid #ddd;
}

.container-agenda-public .giorno {
    
}

.container-ingredienti .pari{
    background:rgba(221,221,221, 0.2);
}

.container-ingredienti .dispari{
    background:rgba(106,206,68, 0.2);
}

.container-ingredienti .pari:hover{
    background:rgba(221,221,221, 0.5);
}

.container-ingredienti .dispari:hover{
    background:rgba(106,206,68, 0.4);
}

.container-agenda-public .giorno.pari .tp {
    background:rgba(221,221,221, 0.2);
}

.container-agenda-public .giorno.pari:hover > .tp {
    background:rgba(221,221,221, 0.5);
}

.container-agenda-public .giorno.dispari .tp {
    background:rgba(106,206,68, 0.2);
}

.container-agenda-public .giorno.dispari:hover > .tp {
    background:rgba(106,206,68, 0.4);
}

.container-agenda-public .nome-giorno{
    display:table;
    color:#000;
}

.container-agenda-public .nome-giorno p{
    display: table-cell;
    vertical-align: middle;
    font-size:16px;
    font-weight: bold;
}

.container-agenda-public .tp{
    display: table;
}

.container-agenda-public .tp .container-elemento{
    display: table-cell;
    vertical-align: middle;
    padding-top:10px;
    padding-bottom:10px;
}


.container-agenda-public .giorno .tp{
    border:0;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;    
}

.container-agenda-public .giorno .tp:last-child{
    border-right: 1px solid #999;
}

.container-ingredienti .ingrediente{
    border-bottom:1px solid #999;
    padding:5px;
}


.ingrediente:first-child .rimuovi-ingrediente{
    display:none;
}

.pianificatore-ricette{
    display: none;
}

.loader-container{
    width:100%;
    height: 100vh;
    background: rgba(255,255,255, 0.7);
    position: fixed;
    z-index:999999999999999999;
    top:0;
    left:0;
    display: none;
}

.loader{
    background:url('../images/loader.gif') center center no-repeat;
    background-size: contain !important;
    
    width:128px;
    height: 128px;
    position:fixed;
    top:50%;
    margin-top:-64px;
    left:50%;
    margin-left: -64px;
    z-index: 9999999999999999999;
}

.container-link-dettaglio{
    width:50%;
    height: 300px;
    left:50%;
    margin-left: -25%;
    top:50%;    
    margin-top:-150px;
    border:1px solid #ddd;
    background:#fff;
    position: fixed;
    box-shadow: 7px 7px 15px #888888;
}

.container-link-dettaglio h2{
    text-align: center;
    font-size:36px !important;
    font-weight: bold !important;
    padding:15px;
}

.container-link-dettaglio p{
    text-align: center;
    font-size:20px;
}

.container-link-dettaglio a{
    font-size:20px;
    text-align: center;
    display: block;
    height: 50px;
    line-height: 50px;
    border:1px solid #ddd;
    width:50%;
    margin:auto;
    margin-top:40px;
}

.container-link-dettaglio a:hover{
    border: 1px solid rgb(160, 206, 78);
}

.container-agenda-public-mobile > div{
    border: 1px solid #999;
    border-top:none;
    padding-top:15px;
    padding-bottom: 15px;
    color:#000
}

.container-agenda-public-mobile > div:first-child{
    border-top:1px solid #999;
}

.container-agenda-public-mobile .descrizione-pasto a{
    margin-top:10px;
    font-size:16px;
}

.container-agenda-public-mobile .descrizione-pasto p{
    margin:0;
    margin-top:10px;
    font-size:16px;
}

.container-agenda-public-mobile .giorno{
    text-align: center;
    font-size:22px;
    font-weight: bold;  
    background:rgba(106,206,68, 0.4);
}

.container-agenda-public-mobile .pasto{
    font-size:18px;
    font-weight: bold;  
    background:rgba(106,206,68, 0.2);
}

.container-agenda-public-mobile .descrizione-pasto {
    text-align: center;    
}

.container-agenda-public-mobile .descrizione-pasto .ricetta {
    margin-top:10px;
}

.container-agenda-public-mobile .descrizione-pasto .ricetta img{
    width:50%;
    border: 1px solid #ddd;
}

#wrapper .post-content h2.title{
    font-size:34px;
}

.post-content h3.title {
    font-size:30px;
}

#printbutton{
    float:right;
    height: 50px;
    width: 150px;
    font-size:18px;
}

.descrizione-agenda p{
    font-size:16px;
    padding-left:30px;
}

.container {
    width: 100% !important;
}

@media (min-width: 768px) {

    .agenda-container .giorno-agenda{
        float:left;
        
    }

}